[submodule "fibers-node"]
	path = fibers-node
	url = https://github.com/aleksandar-veljkovic/fibers-node
[submodule "fibers-tracker"]
	path = fibers-tracker
	url = https://github.com/aleksandar-veljkovic/fibers-tracker
[submodule "fibers-ui"]
	path = fibers-ui
	url = https://github.com/aleksandar-veljkovic/fibers-ui
[submodule "fibers-navigator"]
	path = fibers-navigator
	url = https://github.com/aleksandar-veljkovic/fibers-navigator
