[submodule "fibers-node"]
	path = fibers-node
	url = https://github.com/aleksandar-veljkovic/fibers-node
[submodule "fibers-tracker"]
	path = fibers-tracker
	url = https://github.com/aleksandar-veljkovic/fibers-tracker
